
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Menu Bar</span>

  <span class="navbar-brand mb-0 h1">
    <button type="button" id="build-source">BUILD</button>
    <button type="button" id="save-file">SAVE</button>
  </span>
</nav>
<!--Greetings {{ display_name }}-->
<div class="container-fluid">
  <div class="row">
    <div class="col-2 border">
      <div class="file-tree">
          <p>{{ project }}<p>
		      <div id="tree" data-root-path="{{ root_path }}" data-namespace="{{ namespace }}" data-project="{{ project }}"></div>
	    </div>
    </div>
    <div class="col-8 border">
      <div id="editor-container">
        <div id="editor"></div>
      </div>

      <div id="terminal" data-aquarius-domain="{{ aquarius_domain }}" data-aquarius-port="{{ aquarius_port }}"></div>
    </div>
    <div class="col-2 border">
      <div id="chat-box" data-display-name="{{ display_name }}">
        <div id="chat-history-container">
          <ul id="chat-history"></ul>
        </div>

        <div id="chat-message-form-container"">
          <form id="message-form" action="#">
            <textarea id="message-input"></textarea>
            <input id="message-submit" type="submit" value="Send" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="/logout">Logout</a>
