<!--Nav Bar -->
<div class="w3-bar w3-black">
  <span class="w3-bar-item w3-center w3-xlarge">VIDE</span>
  <a href="#" id="save-file" class="w3-bar-item w3-button"><i class="material-icons" style="font-size:36px">save</i></a>
  <a href="#" id="build-source" class="w3-bar-item w3-button"><i class="material-icons" style="font-size:36px">play_circle_filled</i></a>
  <a href="/logout" class="w3-bar-item w3-button w3-right"><i class="material-icons" style="font-size:36px">exit_to_app</i></a>
</div>

<div id="ide" class="container-fluid">
  <div class="row">

    <!--File Tree Column-->
    <div class="col-2 nopadding">
      <div class="file-tree">
	<div class = "w3-panel w3-center">
	 <img src="{{profilePic}}" id="profilePic"> 
          <div id="displayName"><p>{{ project }}</p></div>
	</div>
		      <div id="tree" data-root-path="{{ root_path }}" data-namespace="{{ namespace }}" data-project="{{ project }}"></div>
	    </div>
		<br /><br />
		<ul style="list-style-type:none">
			<div class="hwTut">
				<li id="bTut">Basic Tutorial</li>
				<span class="hwText">Learn the basics of file creation and printing.</span>
			</div>

			<div class="avTut">
				<li id="aTut">Advanced Tutorial</li>
				<span class="avText">Learn about variables, while loops, and more.</span>
			</div>
			
			<div class="helpTut">
				<li id="hTut">Help</li>
				<span class="helpText">Get help about what you can do and how to do it.</span>
			</div>
		</ul>
    </div>

    <!--Editor & Terminal Column -->
    <div class="col-8 nopadding">
      <div id="editor-container">
        <div id="editor"></div>
      </div>

      <div id="terminal" data-aquarius-domain="{{ aquarius_domain }}" data-aquarius-port="{{ aquarius_port }}"></div>
    </div>

    <!--Chat Column -->
    <div class="col-2 nopadding">
      <div id="chat-box" data-display-name="{{ display_name }}">
        <div id="chat-history-container">
          <ul id="chat-history"></ul>
        </div>

        <audio></audio>

        <div id="chat-message-form-container">
          <div class = "w3-panel w3-center">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6 nopadding">
                  <button class="w3-button w3-padding-small w3-black" id="recorder">
                    Record
                  </button>
                </div>

                <div class="col-6 nopadding">
                  <button class="w3-button w3-padding-small w3-black" id="erase-chat-log">
                    Clear History
                  </button>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-8 nopadding">
                  <form id="message-form" action="#">
                    <textarea placeholder="Optional Typing Input..." id="message-input"></textarea>
                  </form>
                </div>

                <div class="col-4 nopadding">
                  <button class="w3-button w3-padding-small w3-black" id="message-submit">
                    Send
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Footer -->
<div class = "w3-bar w3-black w3-padding-16">
  <span class = "w3-bar-item w3-center">VIDE</span>
</div>
